.planner {
    position: relative; 

    &--category {
        margin-top: 25px; 
    }

    &--category-headline {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &--meals {
        display: flex;

        div {
            height: 160px;
            width: calc(50% - 5px);
            background: var(--black-transparent-quarter);
            border-radius: 10px;
        }

        div + div {
            margin-left: 10px;
        }

        &-none {
            display: flex; 
            align-items: center;
            justify-content: center;
        }
    }
}