.calendar-header {
    &--footer {
        padding: 0 15px 15px;

        &-container {
            display: none;
        }

        button {
            width: 100%;
        }
    }

    &--headline {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-bottom: 15px;

        mat-icon {
            &.disabled {
                color: var(--white-transparent-shadow);
                pointer-events: none;
            }
        }

        mat-icon + button {
            margin-left: 10px;
        }

        div + button {
            margin: 0;
        }
    }

    &--month {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-grow: 1;
        border-radius: 10px;

        &--label {
            display: flex;
            align-items: center;
            position: relative;
            width: 100%;
            background: var(--black-transparent-quarter);
            height: 50px;
            border-radius: 10px;
            justify-content: center;
            margin-right: 10px;

            h1 {
                font-size: 16px;
            }

            input {
                position: absolute;
                opacity: 0;
                pointer-events: none;
            }
        }
    }

    &--days {
        display: flex;
        width: 100%;
        overflow-x: auto;
        margin-top: 10px;

        &-single {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
            height: 60px;
            padding: 7px 21px;
            border-radius: 10px;
            background: var(--black-transparent-quarter);

            &.selected,
            &.past.selected {
                color: var(--secondary);
                
                &::after {
                    content: ".";
                    height: 5px;
                    line-height: 0;
                    font-size: 25px;
                }
            }

            &.past {
                color: var(--white-transparent);
            }

            span {
                &:first-child {
                    font-size: 12px;
                }
            }

            span + span {
                font-size: 16px; 
                font-weight: bold;
                margin-top: 3px; 
            }


            & + & {
                margin-left: 10px;
            }
        }
    }

}