<div class="grocery">
    <!-- Header -->
    <div class="grocery-header">
        <div class="grocery-header--list-name">
            <!-- TODO: Dynamic list name -->
            <h1>List name</h1>
            <mat-icon aria-hidden="true" class="material-icons-outlined">expand_more</mat-icon>
            <mat-icon aria-hidden="true" class="material-icons-outlined">chevron_left</mat-icon>
            <!-- Dropdown with option to add a new list -->
            <!-- Option to show all to buy items -->
            <!-- Option to add list -->
            <!-- TYPEAHEAD with dropdown -->
        </div>    
        <button class="default" (click)="navigateToRecipes()">
            <mat-icon aria-hidden="true" class="material-icons-outlined">menu_book</mat-icon>
        </button>
    </div>

    <!-- List items -->
    <div>

    </div>
</div>